parse_config:
  raw_binding_map:
    '&kp LG(LS(N5))': "SCREEN\nSHOT"
    '&kp KP_MINUS': "-"
    '&studio_unlock': "UNLOCK"
    '&bootloader': "BOOT\nLOADER"
    '&kp BACKSPACE': "BACK\nSPACE"
    '&kp LA(BACKSPACE)': "BACK\nSPACE\NWORD"
    '&kp LC(LG(F))': "FULL\nSCREEN"
    '&kp RG(MINUS)': "ZOOM\nOUT"
    '&kp RG(EQUAL)': "ZOOM\nIN"

    '&kp LS(SINGLE_QUOTE)': "'"
    '&kp LS(LBRC)': '{'
    '&kp LS(LPAR)': '('
    '&kp LS(RBRC)': '}'
    '&kp LS(RPAR)': ')'
    '&kp LS(UNDER)': '_'
    '&kp LS(TILDE)': '~'
    '&kp LS(POUND)': '#'
    '&kp LS(PLUS)': '+'
    '&kp LS(CARET)': '^'
    '&kp LS(AT)': '@'
    '&kp LS(EXCL)': '!'
    '&kp LS(DLLR)': '$'
    '&kp LS(PRCNT)': '%'
    '&kp LS(AMPS)': '&'
    '&kp LS(STAR)': '*'
    '&kp LS(RIGHT_PARENTHESIS)': ')'

  zmk_keycode_map:
    # # custom mappings
    C_VOLUME_UP: Vol Up
    C_VOL_DN: Vol Down
    # K_MUTE: Mute

    LEFT_CONTROL: CTRL
    RIGHT_CONTROL: CTRL
    LCTRL: Ctrl
    RCTRL: Ctrl
    LEFT_ALT: Alt
    RIGHT_ALT: Alt
    LEFT_COMMAND: CMD
    RIGHT_COMMAND: CMD
    LEFT_SHIFT: Shift
    RIGHT_SHIFT: Shift
    ESCAPE: Esc
    SPACE: SPACE
    RET: ENTER
    TAB: TAB
    DEL: DEL

    UP_ARROW: UP
    DOWN_ARROW: DOWN
    LEFT_ARROW: LEFT
    RIGHT_ARROW: RIGHT

    # C_PP: ⏯
    # C_NEXT: ⏭️
    # C_PREV: ⏮️

    # # defaults
    AMPERSAND: '&'
    AMPS: '&'
    APOS: "'"
    APOSTROPHE: "'"
    ASTERISK: '*'
    ASTRK: '*'
    AT: '@'
    AT_SIGN: '@'
    BACKSLASH: \
    BSLH: \
    CARET: ^
    COLON: ':'
    COMMA: ','
    DLLR: $
    DOLLAR: $
    DOT: .
    DOUBLE_QUOTES: '"'
    DQT: '"'
    EQUAL: '='
    EXCL: '!'
    EXCLAMATION: '!'
    FSLH: /
    GRAVE: '`'
    GREATER_THAN: '>'
    GT: '>'
    HASH: '#'
    LBKT: '['
    LBRC: '{'
    LEFT_BRACE: '{'
    LEFT_BRACKET: '['
    LEFT_PARENTHESIS: (
    LESS_THAN: <
    LPAR: (
    LT: <
    MINUS: '-'
    NON_US_BACKSLASH: \
    NON_US_BSLH: '|'
    NON_US_HASH: '#'
    NUHS: '#'
    PERCENT: '%'
    PERIOD: .
    PIPE: '|'
    PIPE2: '|'
    PLUS: +
    POUND: '#'
    PRCNT: '%'
    QMARK: '?'
    QUESTION: '?'
    RBKT: ']'
    RBRC: '}'
    RIGHT_BRACE: '}'
    RIGHT_BRACKET: ']'
    RIGHT_PARENTHESIS: )
    RPAR: )
    SEMI: ;
    SEMICOLON: ;
    SINGLE_QUOTE: ''''
    SLASH: /
    SQT: ''''
    STAR: '*'
    TILDE: '~'
    TILDE2: '~'
    UNDER: _
    UNDERSCORE: _
draw_config:
  dark_mode: auto
  separate_combo_diagrams: true